<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream Example</title>
</head>
<body>
    <h1>Camera Stream</h1>
    <select id="cameraSelect"></select>
    <video id="myCamera" width="600" height="400" autoplay playsinline></video>
    <div>
        <button id="muteButton">Mute</button>
        <button id="cameraButton">Turn Camera Off</button>
    </div>
    <script src="../camera.js"></script>
</body>
</html>
